.list-item.exchange-rate {
    cursor: pointer;
    margin-inline-start: 10px;
    inline-size: auto;
}

.currency-select {
    --boxWidth: 190px;
    width: var(--boxWidth) !important;
}

.currency-select .expander-header .expander-header-title {
    justify-content: space-between !important;
}

.currency-select .expander-header {
    width: var(--boxWidth);
}

.currency-select.expander>.expander-content-anchor {
    width: var(--boxWidth);
}

.currency-list .text-block.type-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}